# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Database
*.db
*.sqlite3

# Logs
*.log
logs/

# OS specific
.DS_Store
Thumbs.db

.streamlit/secrets.toml
.persistence