[connections.sql]
url = "sqlite:///.persistence/test.db"

[base]
url = 'https://inuyasha021.github.io'

[storage]
type = 'github'
access_token = '***'
repo_name = 'inuyasha021.github.io'
image_dir = 'images'
manifest_dir = 'manifests'

#[storage]
#type = 'local'
#image_dir = 'images'
#manifest_dir = 'manifests'
#base_dir = './static/'

#[storage]
#type = 'sftp'
#host = ''
#port = 22
#username = ''
#password = ''

[openai.vl]
base_url='https://open.bigmodel.cn/api/paas/v4'
api_key='***'
model='glm-4v-flash'

[openai.text]
model='qwen-plus'
api_key='***'
base_url='https://dashscope.aliyuncs.com/compatible-mode/v1'

[openai.embedding]
base_url = 'https://chat.ecnu.edu.cn/open/api/v1'
api_key = '***'
model = 'ecnu-embedding-small'
chroma_path = './.persistence/chromadb'

[auth.cookie]
expiry_days = 30
key = "***"
name = "_user"

[auth.credentials.usernames.admin]
name = "admin"
password = "***"